.gitconfig
.config/Thunar/
.config/Code/
.config/dconf/
.config/Slack/
.config/libreoffice/
.config/pulse/
.config/xfce4/
.config/GIMP/
.config/Postman*/
.config/QtProject.conf
.config/flutter/
.config/gcalendar/
.config/google-chrome/
.config/gthumb/
.config/ibus/
.config/nextjs-nodejs/
.config/vlc/
.config/gedit/accels

**/zoom.conf
**/zoomus.conf
**/__pycache__/*.*
