[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sara/desktop]
row=2
col=0

[/home/sara/software]
row=3
col=0

[/home/sara/documents]
row=0
col=0

[/home/sara/downloads]
row=1
col=0

[129 GB Encrypted]
row=4
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

